<div role="main" class="main">

    <div class="home-intro light secundary">
        <div class="container">
    
            <div class="row">
                <div class="col-md-8">
                    <p>
                        The fastest way to grow your business with the leader in <em>Technology</em>
                        <span>Check out our options and features included.</span>
                    </p>
                </div>
            </div>
    
        </div>
    </div>

<div class="container">

    <div class="row center">
        <div class="col-md-12">
            <h1 class="short word-rotator-title">
                Yachting is
                <strong class="inverted">
                    <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                        <span class="word-rotate-items">
                            <span>incredibly</span>
                            <span>especially</span>
                            <span>extremely</span>
                        </span>
                    </span>
                </strong>
                expensive and fun
            </h1>
            <p class="featured lead">
                Angular site that consumes an yachts API
            </p>
        </div>
    </div>

</div>



<div class="container">

    <h1>Meet our Crew</h1>
    <section class="crew-container">

    <article class="crew" *ngFor="let crew of crew">
        <div>
            <h3>{{crew.position}}</h3>
            <h5>{{crew.name}} {{crew.lasname}}</h5>
            <p>{{crew.age}}</p>
        </div>
        
    </article>


</section>


    
</div>

</div>
